{% if dehydrated|cert_exists(ansible_fqdn) %}
server {
    listen 0.0.0.0:80 default_server;
    listen [::]:80 default_server;

    root /var/null;

    location / {
        return 301 https://$host$request_uri;
    }

    include {{ nginx.prefix.config }}/include/letsencrypt.conf;
}

server {
    listen 0.0.0.0:443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;

    root /var/null;

    include {{ nginx.prefix.config }}/security_headers;

    ssl_certificate /usr/local/etc/ssl/certs/{{ ansible_fqdn }}/fullchain.pem;
    ssl_certificate_key /usr/local/etc/ssl/certs/{{ ansible_fqdn }}/privkey.pem;
    include {{ nginx.prefix.config }}/https;
}
{% else %}
server {
    listen 0.0.0.0:80 default_server;
    listen [::]:80 default_server;

    root /var/null;
}
{% endif %}
