{% for source, dest in nginx.moved_permanently.items() %}
{% set source_domain = source.split('/')[2] %}
{% if source.startswith('http://') %}
server {
    listen 0.0.0.0:80;
    listen [::]:80;

    server_name {{ source_domain }};

    root /var/null;

    location / {
        return 301 {{ dest }}$request_uri;
    }

    include {{ nginx.prefix.config }}/include/letsencrypt.conf;
}
{% elif source.startswith('https://') %}
server {
    listen 0.0.0.0:443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ source_domain }};

    root /var/null;

    include {{ nginx.prefix.config }}/security_headers;

    location / {
        return 301 {{ dest }}$request_uri;
    }

    ssl_certificate {{ dehydrated|cert_fullchain(source_domain) }};
    ssl_certificate_key {{ dehydrated|cert_privkey(source_domain) }};
    include {{ nginx.prefix.config }}/https;
}
{% endif %}
{% endfor %}
