events {
    worker_connections 1024;
}

user www;

http {
    include mime.types;
    default_type application/octet-stream;

    server_tokens off;
    sendfile on;
    keepalive_timeout 65;
    gzip on;

    access_log {{ nginx.prefix.log }}/access.log;
    error_log {{ nginx.prefix.log }}/error.log;

    resolver {{ ' '.join(nginx.nameservers) }} valid=300s;
    resolver_timeout 5s;

    include {{ nginx.prefix.config }}/http.d/*.conf;
}
