SecRule REQUEST_URI "^/neos/content.*$" \
  "id:1002,\
  phase:1,\
  pass,\
  nolog,\
  ctl:ruleRemoveById=941160"

SecAction \
  "id:900220,\
 phase:1,\
 nolog,\
 pass,\
 t:none,\
 setvar:'tx.allowed_request_content_type=|application/x-www-form-urlencoded| |multipart/form-data| |multipart/related| |text/xml| |text/html| |application/xml| |application/soap+xml| |application/json| |application/cloudevents+json| |application/cloudevents-batch+json|'"

SecAction \
  "id:900200,\
 phase:1,\
 nolog,\
 pass,\
 t:none,\
 setvar:'tx.allowed_methods=GET HEAD POST OPTIONS PUT PATCH DELETE'"
