---
name: Test
run-name: Run molecule tests on the role
on:
  push:
  workflow_dispatch:

jobs:
  ansible-lint:
    uses: punktDe/shared-workflows/.github/workflows/ansible-lint.yml@main

  molecule-test:
    uses: punktDe/shared-workflows/.github/workflows/molecule-test.yml@main
